<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop2.myapp.model.BoardMapper">
    <select id="findAll" resultType="com.shop2.myapp.dto.BoardDTO">
        select * from boardN
	</select>
    <select id="getBoard" resultType="com.shop2.myapp.dto.BoardDTO">
        select * from boardN where bno=#{bno}
	</select>
    <insert id="addBoard">
        insert into boardN(bno, title, content, writer, regdate, visited) values (nseq.nextval, #{title}, #{content}, #{writer}, sysdate, 0)
	</insert>
    <update id="updateBoard">
        update boardN set title=#{title}, content=#{content}, writer=#{writer} where bno=#{bno}
	</update>
	<update id="visitedUpdate">
		update boardN set visited=visited+1 where bno=#{bno}
	</update>
	<delete id="delBoard">
		delete from boardN where bno=#{bno}
	</delete>
</mapper>