<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>jQuery 86 : Ajax 데이터 송수신 처리2 - post</title>
    <script src="https://code.jquery.com/jquery-latest.js"></script> 
    <style>
    .container { clear:both; width:1000px; margin:20px auto; line-height:2.8; } 
    .container:after { content:""; display:block; clear:both; }
    .data { clear: both; }
    .data:after { content:""; display:block; clear:both; }
    .table th { border-top:2px solid #333; }
    .table td, .table th { border-bottom:2px solid #333; } 
    </style>
</head>
<body>
    <section class="container">
        <h1>jQuery Ajax 송수신 데이터 메소드 -ajax()</h1>
        <article id="data">
        <div><h2>AJAX DATA Trans</div>
           <table class="table">
	           <thead>
	           		<tr>
	           			<th> 아이디 </th>
	           			<th> 비밀번호 </th>
	           			<th> 이름 </th>
	           		</tr>
	           </thead>
	           <tbody id="result">
	           
	           </tbody>
           </table>  
           <button type="button" id="btn1"> 회원 목록 로딩 </button>
           <div id="msg"></div> 
        </article>
    </section>
    <br><hr><br>
    <script>
    $(document).ready(function(){
     $("#btn1").click(function(){
            $.ajax({
                url:"/ajax/userList.do",   //요청 데이터를 받아 처리하는 서버측 컨트롤러 또는 페이지
                contentType:'application/json;charset=utf-8', 
                method:"GET",      // 전송 방식 : post, get, put
                dataType:"json",    //반환받을 데이터 타입 - json, xml, script, html
            })
            .done(function(res){    //처리 성공시 처리할 문장
                console.log(res);
                $.each(res, function(index, value){
					var tr = "<tr>";
					tr = tr + "<td>"+value['userId']+"</td>";
					tr = tr + "<td>"+value['userPw']+"</td>"; 
					tr = tr + "<td>"+value['userName']+"</td>";
					tr + tr + "</tr>";
					$("#result").append(tr);
				});
                
            })
            .fail(function(xhr, status, errorThrown){   // 처리 실패시 처리할 문장
                $("#msg").text("목록을 로딩하지 못했습니다");
            });
           
        });
       
    });    
    </script>
</body>
</html>