<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<title>회원가입</title>
	<th:block th:insert="common/head"></th:block>
</head>
<body>
<div class="fluid-container">
	<th:block th:insert="common/header"></th:block>
	<div class="py-5">
		<div class="container px-5 my-5">
			<div class="text-center mb-5">
                <h1 class="fw-bolder">회원가입</h1>
			</div>
			<div class="row gx-5">
                <div class="col-xl-12">
                     <form id = "joinForm">              
	                    <table class="table">
	                    	<tbody>
		                        <tr>
		                        	<th><label for="userId">사용자 아이디</label></th>
		                            <td>
		                            	<input type="text" class="form-control" id="userId" th:field="*{userId}" name="userId" placeholder="사용자 아이디">
		                            </td>
		                            <div id="msg"></div><br>   
		                            <button type="button" id="btn1">아이디 중복체크</button>
		                        </tr>
		                        <tr>
		                        	<td>
		                            	<input type="hidden" id="idck" name="idck" value="no">
		                            </td>
		                        </tr>
		                        <tr>
		                        	<th><label for="userName">이름</label></th>
		                            <td>
		                            	<input type="text" class="form-control" id="userName" th:field="*{userName}" name="userName" placeholder="사용자 이름">
		                            </td>
		                        </tr>
		                        <tr>
		                        	<th><label for="userPw">비밀번호</label></th>
		                            <td>
		                            	<input type="password" class="form-control" id="userPw" th:field="*{userPw}" name="userPw" placeholder="사용자 비밀번호">
		                            </td>
		                        </tr>
	                    	</tbody>
	                    </table>
		                <div class="container" role="group">
		                	<input type="submit" class="btn btn-primary inline" value="회원가입" />
		                </div>
                     </form>
                     <script>
				    $(document).ready(function(){
				     $("#btn1").click(function(){
				            var id = $("#id").val();
				            if(id==""){
				                alert("아이디가 입력되지 않았습니다.");
				                return false;
				            }
				            $.ajax({
				                url:"/ajax/idCheck.do?userId="+id,   //요청 데이터를 받아 처리하는 서버측 컨트롤러 또는 페이지
				                contentType:'application/json;charset=utf-8', 
				                method:"GET",      // 전송 방식 : post, get, put
				                dataType:"json",    //반환받을 데이터 타입 - json, xml, script, html
				            })
				            .done(function(res){    //처리 성공시 처리할 문장
				                console.log(res)
				                if(res===true){
									$("#msg").text("사용가능한 아이디입니다.");
									$("#idck").val("yes");
								} else {
									$("#msg").text("사용중인 아이디입니다.");
								}
				                
				            })
				            .fail(function(xhr, status, errorThrown){   // 처리 실패시 처리할 문장
				                $("#msg").text("아이디 중복 체크를 진행하지 못했습니다.");
				            })
				            .always(function(xhr, status){  //요청처리 실패하든 성공하든 무조건 실행
				
				            });
				        });
				       
				    });    
				    </script>
				    <script>
				    $(document).ready(function(){
				     $("#btn1").click(function(){
				            var userId = $("#id").val();
				            var userPw = $("#pw").val();
				            $("#result").empty();
				            if(userId=="" || userPw==""){
				                alert("아이디 또는 비밀번호 입력이 되지 않았습니다.");
				                return false;
				            }
				            var user = {id:userId, pw:userPw};
				            $.ajax({
				                url:"/ajax/getLogin.do?userId="+userId+"&userPw="+userPw,   //요청 데이터를 받아 처리하는 서버측 컨트롤러 또는 페이지
				                contentType:'application/json;charset=utf-8', 
				                method:"GET",      // 전송 방식 : post, get, put
				                dataType:"json",    //반환받을 데이터 타입 - json, xml, script, html
				            })
				            .done(function(res){    //처리 성공시 처리할 문장
				                console.log(res);
				                $("#msg").text("로그인 성공");
				                $.each(res, function(key, value){
									if(key==="userName"){
										$("#result").append("<li>"+value+"님이 로그인 하셨습니다."+"</li>");
									}
								});
								$("#loginForm").fadeOut(100);
				                                
				            })
				            .fail(function(xhr, status, errorThrown){   // 처리 실패시 처리할 문장
				                $("#msg").text("로그인 실패");
				            });
				            
				        });
				       
				    });    
				    </script>
                </div>
            </div>
		</div>
  	</div>
	<th:block th:insert="common/footer"></th:block>
</div>
</body>
</html>