<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<hr>
<footer id="footer" class="bg-dark py-4 mt-auto">
	<div class="container px-5">
        <div class="row align-items-center justify-content-between flex-column flex-sm-row">
            <div class="col-auto">
                <p class="link-light small" href="#!"><strong>베스트펜</strong></p>
                <p class="link-light small" href="#!">서울시 강남구 테헤란로38길 43 청록빌딩 지하1층</p>
                <p class="link-light small" href="#!"><strong>대표전화</strong> 02-2052-6641,02-2052-6642</p>
            </div>
            <div class="col-auto">
                <p class="link-light small" href="#!"><strong>사업자번호</strong>&nbsp;&nbsp; 220-87-31961&nbsp; <a href="http://www.ftc.go.kr/info/bizinfo/communicationList.jsp" target="_blank">[사업자정보확인]</a></p>
                <p class="link-light small" href="#!"><strong>통신판매번호</strong>&nbsp; 제 강남-11791호</p>
            </div>
            <div class="col-auto"><div class="small m-0 text-white">Copyright © All Rights Reserved. BESEN MASTERPICE</div>
        </div>
    </div>
</footer>